<!doctype html>

<html>

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        
        <title>Dialogue Module</title>
        
        <!-- This style block is used just for the module template. -->
        <!-- It is not meant to be used in a production environment. -->
        
        <style type="text/css">
        
            body {
                margin: 50px auto; 
            }
        
            body > div.leftRailPlaceholder {
                border: solid black 1px;
                margin: auto;
                width: 660px;
            }
            
        </style>
        
        <!--[if lt IE 9]>
        <link href="style-ie.css" type="text/css" rel="stylesheet"></link>
        <![endif]-->
        
        <link href="style.css" type="text/css" rel="stylesheet"></link>
        
    </head>

    <body>

        <div class="centered">
            
            <div class="dialogueRoot corneredTop corneredBottom">
            
                <div class="closeButton"></div>
        
                <div class="dialogueHeading corneredTop">
                
                    <div class="dialogueTitle">
                    
                        Claim This Business
                        
                    </div><!-- // .dialogueTitle -->
                    
                    <div class="dialogueBody">
                        
                        <p>Call us today at <strong>1-877-433-9249</strong></p>
                        
                        <p>Make updates to your <img src="logo.png" /> business profile 24/7</p>
                        
                        <div class="sidebar">
                        
                            <img src="searchPage.png" />
                            
                            <ul>
                            
                                <li>Make your profile stand out to get more customers.</li>
                                
                                <li>Add images and videos to your profile</li>
                                
                                <li>Respond to customer reviews</li>
                                
                            </ul>
                        
                        </div><!-- // .sidebar -->
                        
                    </div><!-- // .dialogueBody -->
                    
                </div><!-- // .dialogueHeading -->
                
            </div><!-- // .dialogueRoot -->
            
        </div><!-- // .centered -->
        
    </body>

</html>