<!doctype html>

<html>

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		
		<title>Home Page Template</title>
		
		<link rel="stylesheet" type="text/css" href="style.css"></link>
		
	</head>

	<body>
	
		<div class="globalArch">
		
			<div class="globalBar">
				
				<div>
				
					<a class="globalLink" href="http://dexknows.whitepages.com" rel="nofollow">Find a Person</a>
				
				</div>
			
				<ul class="quickLinks">
			
					<li>
					
						<a id="loginLinkHeader" href="http://www.dexknows.com.localhost/">Log In</a></li>

					<li class="last">
					
						<a id="signUpLinkHeader" href="http://www.dexknows.com.localhost/">Sign Up</a></li>
			
				</ul>
				
			</div><!-- // .globalBar -->
		
		</div><!-- // .globalArch -->
	
		<div class="superStructure">
		
			<div class="rootElement">
				
			</div><!-- // .rootElement -->
				
		</div><!-- // .superStructure -->
		
		<script type="text/javascript" src="http://scripts.dexknows.com/desktop/jquery/jquery-1.8.0.full.js"></script>

		<script type="text/javascript" src="script.js"></script>

	</body>
	
</html>