@CHARSET "UTF-8";

/*******************************************************************************
 * The business profile pages that are going to be holding the names of 
 * all the places that have the things that we need for the header.
 ******************************************************************************/
 
div.businessProfile {
	color: #000;
	font-family: Tahoma, Verdana, Arial, 'sans-serif';
	margin: 10px;
	text-align: left;
}

div.businessProfile a, 
div.businessProfile a:hover {
	text-decoration: none;
}

div.businessProfile > h1.businessName {
	font-size: 24px;
	font-weight: bold;
}

div.businessProfile > h1, 
div.businessProfile > h3, 
div.businessProfile > p {
	margin: 2px 0;
}

div.businessProfile > p.businessSlogan, 
div.businessProfile > h3.businessAddress {
	font-size: 14px;
}

div.businessProfile > h3.businessAddress {
	font-weight: bold;
}

div.businessProfile > p.businessWebsite > a {
	color: #1b75bc;
	font-size: 12px;
}

div.businessProfile > p.businessTelephone {
	font-size: 26px;
	font-weight: bold;
	margin: 6px 0;
}

div.businessProfile > img.businessRating {
	background: url(http://images.dexknows.com.localhost/desktop/images/icons_sprite.png) 0 -779px no-repeat;
	margin: 10px auto;
}

div.businessProfile > ul.profileTools {
	display: inline-block;
	margin: 0;
	padding: 0;
}

div.businessProfile > ul.profileTools > li {
	border-right: solid #dad9d9 1px;
    float: left;
    list-style: none;
}

div.businessProfile > ul.profileTools > li.first {
	padding: 0 5px 0 0;
}

div.businessProfile > ul.profileTools > li.last {
	border-right: none;
	padding: 0 0 0 5px;
}

div.businessProfile > ul.profileTools > li, 
div.businessProfile > ul.profileTools > li.follow > a {
	padding: 0 5px;
}
    
div.businessProfile > ul.profileTools > li > a, 
div.businessProfile > ul.profileTools > li > span.annotation {
	float: left;
	font-size: 11px;
	line-height: 24px;
}

div.businessProfile > ul.profileTools > li > a {
	background: url(http://images.dexknows.com.localhost/desktop/images/icons_sprite.png);
	background-repeat: no-repeat;
	color: #676767;
	height: 22px;
	overflow: hidden;
}

div.businessProfile > ul.profileTools > li > a:hover {
	color: #000;
}

div.businessProfile > ul.profileTools > li.website > a {
	background-position: 0 -2819px;
	padding: 0 0 0 25px;
}

div.businessProfile > ul.profileTools > li.website > a:hover {
	background-position: 0 -2839px;
}

div.businessProfile > ul.profileTools > li.follow {
	text-transform: capitalize;
}

div.businessProfile > ul.profileTools > li.follow > a {
	float: left;
	margin: 0 0 0 5px;
	padding: 0 0 0 19px;
	width: 0;
}

div.businessProfile > ul.profileTools > li.follow > a.facebookLink {
	background-position: 0 -2859px;
}

div.businessProfile > ul.profileTools > li.follow > a.facebookLink:hover {
	background-position: 0 -2879px;
}

div.businessProfile > ul.profileTools > li.follow > a.twitterLink {
	background-position: 0 -2902px;
}

div.businessProfile > ul.profileTools > li.follow > a.twitterLink:hover {
	background-position: 0 -2924px;
}

div.businessProfile > ul.profileTools > li.email > a {
	background-position: 0 -3076px;
	padding: 0 0 0 34px;
}

div.businessProfile > ul.profileTools > li.email > a:hover {
	background-position: 0 -3096px;
}

div.businessProfile > ul.profileTools > li.reserve > a {
	background-position: 0 -2992px;
	padding: 0 0 0 26px;
}

div.businessProfile > ul.profileTools > li.reserve > a:hover {
	background-position: 0 -3015px;
}

div.businessProfile > ul.profileTools > li.menu > a {
	background-position: 0 -2947px;
	padding: 0 0 0 21px;
}

div.businessProfile > ul.profileTools > li.menu > a:hover {
	background-position: 0 -2969px;
}

div.businessProfile > ul.profileTools > li.smsContact > a {
	background-position: 0 -3036px;
	padding: 0 0 0 25px;
}

div.businessProfile > ul.profileTools > li.smsContact > a:hover {
	background-position: 0  -3056px;
}