@CHARSET "UTF-8";

/* 
DOM-independent definitions. Used by JavaScript for interface manipulation.
*/

.visible {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}

.cloaked {
    display: none;
}

/*
Module-specific definitions.
*/

.photoGallery {
    background: #f5f5f5;
    width: 100%;
}

.photoGallery > h2.module {
    margin: 0;
}

.photoGallery > .viewfinder > .controls {
    margin-top: 140px;
    position: absolute;
    width: 660px;
    z-index: 100;
}

.photoGallery > .viewfinder > .controls > .linear {
    background: #000;
}
.photoGallery > .viewfinder > .controls > .linear, 
.photoGallery > .viewfinder > .controls > .linear > a {
    height: 50px;
    width: 50px;
}

.photoGallery > .viewfinder > .controls > .previous {
    float: left;
}

.photoGallery > .viewfinder > .controls > .next {
    float: right;
    margin-left: 515px;
}

.photoGallery > .viewfinder > .controls > .linear > a {
    color: #fff !important;
    display: block;
    font-size: 38px;
    text-decoration: none;
}

.photoGallery > .viewfinder > .controls > .linear > a:hover {
    color: #fff !important;
    text-decoration: none;
}
    
.photoGallery > .viewfinder > .controls > .linear > a.previous, 
.photoGallery > .viewfinder > .controls > .linear > a.next {
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.photoGallery > .viewfinder {
    height: 400px;
}

.photoGallery > .viewfinder > .display {
    overflow: hidden;
    text-align: center;
}

.photoGallery > .viewfinder > .display > a {
    clear: none;
    display: none;
}

.photoGallery > .viewfinder > .display > a > img {
    border: none;
    display: inline;
    position: relative;
    z-index: 50;
}

.photoGallery > .viewfinder > .display > a.selected {
    display: inline;
}

.photoGallery > .viewfinder > .caption {
    color: #fff;
    line-height: 24px;
    text-align: center;
    width: 660px;
}

.photoGallery > .viewfinder > .filmstrip {
    clip: rect(0 660px 116px 0);
    position: absolute;
    height: 112px;
    overflow: hidden;
    width: 100%;
}

.photoGallery > .viewfinder > .caption, 
.photoGallery > .viewfinder > .filmstrip {
    background-color: #000;
    filter: alpha(opacity=80);
    opacity: 0.8;
    position: absolute;
    z-index: 60;
}

.photoGallery > .viewfinder > .caption {
    top: 338px;
}

.photoGallery > .viewfinder > .filmstrip {
    top: 362px;
}

.photoGallery > .viewfinder > .filmstrip > .viewport {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.photoGallery > .viewfinder > .filmstrip > .viewport > .placeholder {
    line-height: 90px;
    float: left;
    margin: 8px 6px;
    text-align: center;
    width: 120px;
}

.photoGallery > .viewfinder > .filmstrip > .viewport > .placeholder > img {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    width: 90px;
    overflow: hidden;
    text-align: center;
}

.photoGallery > .viewfinder > .filmstrip > .viewport > .placeholder > .selected {
    border-color: yellow;
}

.photoGallery > .viewfinder > .filmstrip > .viewport > .placeholder > .frame > img {
    vertical-align: middle;
    width: 118px;
}