@CHARSET "UTF-8";

/* 
DOM-independent definitions. Used by JavaScript for interface manipulation.
*/

.visible {
    display: inline-block;
}

.hidden {
    visibility: hidden;
}

.cloaked {
    display: none;
}

/*
Module-specific definitions.
*/

.photoGallery {
    background: #f5f5f5;
    width: 100%;
}

.photoGallery > .viewFinder > .controls {
    margin-top: 140px;
    position: absolute;
    z-index: 100;
}

.photoGallery > .viewFinder > .controls > .linear {
    background: #000;
}
.photoGallery > .viewFinder > .controls > .linear, 
.photoGallery > .viewFinder > .controls > .linear > a {
    height: 50px;
    width: 50px;
}

.photoGallery > .viewFinder > .controls > .previous {
    float: left;
}

.photoGallery > .viewFinder > .controls > .next {
    float: right;
    margin-left: 515px;
}

.photoGallery > .viewFinder > .controls > .linear > a {
    color: #fff !important;
    display: block;
    font-size: 38px;
    text-decoration: none;
}

.photoGallery > .viewFinder > .controls > .linear > a:hover {
    color: #fff !important;
    text-decoration: none;
}
    
.photoGallery > .viewFinder > .controls > .linear > a.previous, 
.photoGallery > .viewFinder > .controls > .linear > a.next {
    color: white;
    text-transform: capitalize;
}

.photoGallery > .viewFinder {
    position: aboslute;
    clip: rect(0 50px 50px 0);
}

.photoGallery > .viewFinder > .display {
    height: 385px;
}

.photoGallery > .viewFinder > .display > a {
    clear: none;
    display: none;
}

.photoGallery > .viewFinder > .display > a > img {
    display: inline;
    position: relative;
    z-index: 50;
}

.photoGallery > .viewFinder > .display > a.selected {
    display: inline;
}

.photoGallery > .viewFinder > .caption {
    background: #000;
    color: #fff;
    line-height: 24px;
    margin-top: -27px;
    position: absolute;
    width: 615px;
    z-index: 101;
}