<!doctype html>

<html>

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		
		<title>Generic Page Template</title>
		
		<link rel="stylesheet" type="text/css" href="style.css"></link>
		
	</head>

	<body>
	
		<div class="globalArch">
		
			<div class="globalBar">
			
				<div class="logo">
				
					<img height="24" width="129" src="http://images.dexknows.com/desktop/images/siteLogoSmall.png" alt="Dex Knows!" />
				
				</div><!-- // .logo -->
				
				<div class="globalSearch">
				
					<form>
					
						<input class="globalSearch inputText what" id="what" type="text" />
						
						<input class="globalSearch inputText where" id="where" type="text" />
					
					</form>
				
				</div><!-- // .globalSearch -->
			
			</div><!-- // .globalBar -->
		
		</div><!-- // .globalArch -->
	
		<div class="superStructure">
		
			<div class="rootElement">
				
			</div><!-- // .rootElement -->
				
		</div>
		
		<div class="globalFooter">
		
			<div class="content">
			
				<div class="aboutColumn">
				
					<h5>About</h5>
					
					<ul class="first">
					
						<li><a data-pagezone="x.ft.nav.abrhd" href="http://www.dexone.com/company/" rel="nofollow">About Us</a></li>
						<li><a data-pagezone="x.ft.nav.adv" href="http://www.dexone.com/" rel="nofollow">Advertise</a></li>
						<li><a data-pagezone="x.ft.nav.ma" href="https://account.dexknows.com/login.jsp" rel="nofollow">Advertiser Login</a></li>
						<li><a data-pagezone="x.ft.nav.pybo" href="https://www.dexebill.com/" rel="nofollow">Pay Bill</a></li>
						<li><a data-pagezone="x.ft.nav.cu" href="http://www.dexknows.com.localhost/info/contactUs.asp" rel="nofollow">Contact Us</a></li>
						<li><a data-pagezone="x.ft.nav.ft" href="http://www.dexknows.com.localhost/info/freeTools.asp" rel="nofollow">Free Tools</a></li>
						<li><a data-pagezone="x.ft.nav.ft" href="http://www.youtube.com/user/DexAdvertising?feature=mhee" rel="nofollow">Dex Commercials</a></li>
						<li><a data-pagezone="x.ft.nav.rec" href="http://green.dexknows.com/" rel="nofollow">Recycle</a></li>
						<li><a data-pagezone="x.ft.nav.syd" href="http://green.dexknows.com/DexGreen/selectDexAction.do" rel="nofollow">Select Your Dex</a></li>
						<li><a data-pagezone="x.ft.nav.nat" href="http://www.dexonenational.com" rel="nofollow">National</a></li>
						<li><a data-pagezone="x.ft.nav.clec" href="http://www.dexone.com/telco" rel="nofollow">Telco</a></li>
						
					</ul>
					
				</div><!-- // .aboutColumn -->
				
				<div class="topCities">
				
					<h5><a href="/cities.asp" class="hpLink">Top Cities</a></h5>
					
					<ul class="first">
					
						<li><a title="Albuquerque, New Mexico" href="http://www.dexknows.com.localhost/geo/c-albuquerque-nm/">Albuquerque</a></li>
						<li><a title="Boise, Idaho" href="http://www.dexknows.com.localhost/geo/c-boise-id/">Boise</a></li>
						<li><a title="Chicago, Illinois" href="http://www.dexknows.com.localhost/geo/c-chicago-il/">Chicago</a></li>
						<li><a title="Colorado Springs, Colorado" href="http://www.dexknows.com.localhost/geo/c-colorado_springs-co/">Colorado Springs</a></li>
						<li><a title="Denver, Colorado" href="http://www.dexknows.com.localhost/geo/c-denver-co/">Denver</a></li>
						<li><a title="Des Moines, Iowa" href="http://www.dexknows.com.localhost/geo/c-des_moines-ia/">Des Moines</a></li>
						<li><a title="Fayetteville, North Carolina" href="http://www.dexknows.com.localhost/geo/c-fayetteville-nc/">Fayetteville</a></li>
						<li><a title="Las Vegas, Nevada" href="http://www.dexknows.com.localhost/geo/c-las_vegas-nv/">Las Vegas</a></li>
						<li><a title="Minneapolis, Minnesota" href="/geo/c-minneapolis-mn/">Minneapolis</a></li>
						<li><a title="Omaha, Nebraska" href="http://www.dexknows.com.localhost/geo/c-omaha-ne/">Omaha</a></li>
						<li><a title="Orlando, Florida" href="http://www.dexknows.com.localhost/geo/c-orlando-fl/">Orlando</a></li>
						<li><a title="Phoenix, Arizona" href="http://www.dexknows.com.localhost/geo/c-phoenix-az/">Phoenix</a></li>
						<li><a title="Portland, Oregon" href="http://www.dexknows.com.localhost/geo/c-portland-or/">Portland</a></li>
						<li><a title="Salt Lake City, Utah" href="http://www.dexknows.com.localhost/geo/c-salt_lake_city-ut/">Salt Lake City</a></li>
						<li><a title="Seattle, Washington" href="http://www.dexknows.com.localhost/geo/c-seattle-wa/">Seattle</a></li>
						<li><a title="St. Paul, Minnesota" href="http://www.dexknows.com.localhost/geo/c-saint_paul-mn/">St. Paul</a></li>
						<li><a title="Tacoma, Washington" href="http://www.dexknows.com.localhost/geo/c-tacoma-wa/">Tacoma</a></li>
						<li><a title="Tucson, Arizona" href="http://www.dexknows.com.localhost/geo/c-tucson-az/">Tucson</a></li>
						
					</ul>
					
				</div><!-- // .topCities -->
				
				<div class="topCategories">
				
					<h5><a href="/browse-directory.asp" class="hpLink">Top Categories</a></h5>
					
					<ul class="first">
					
						<li><a title="Attorneys" href="http://www.dexknows.com.localhost/local/law/lawyers/general_practice_lawyers/geo/c%2Dchicago%2Dil/">Attorneys</a></li>
						<li><a title="Auto Parts" href="http://www.dexknows.com.localhost/local/automotive/vehicle_service_and_repair/auto_parts/geo/c%2Dchicago%2Dil/">Auto Parts</a></li>
						<li><a title="Auto Repair" href="http://www.dexknows.com.localhost/local/automotive/vehicle_service_and_repair/general_auto_service/geo/c%2Dchicago%2Dil/">Auto Repair</a></li>
						<li><a title="Chiropractors" href="http://www.dexknows.com.localhost/local/health_care/alternative_health_care/chiropractors/geo/c%2Dchicago%2Dil/">Chiropractors</a></li>
						<li><a title="Cleaning Services" href="http://www.dexknows.com.localhost/local/real_estate/facilities_management/cleaning_services/geo/c%2Dchicago%2Dil/">Cleaning Services</a></li>
						<li><a title="Counseling" href="http://www.dexknows.com.localhost/local/health_care/health_care_services/counseling/geo/c%2Dchicago%2Dil/">Counseling</a></li>
						<li><a title="Dentists" href="http://www.dexknows.com.localhost/local/health_care/dentistry/general_dentists/geo/c%2Dchicago%2Dil/">Dentists</a></li>
						<li><a title="General Contractors" href="http://www.dexknows.com.localhost/local/construction/contractors/general_contractors/geo/c%2Dchicago%2Dil/">General Contractors</a></li>
						<li><a title="Hotels and Lodging" href="http://www.dexknows.com.localhost/local/travel_and_tourism/hotels_and_lodging/geo/c%2Dchicago%2Dil/">Hotels and Lodging</a></li>
						<li><a title="HVAC Contractors" href="http://www.dexknows.com.localhost/local/construction/contractors/hvac_contractors/geo/c%2Dchicago%2Dil/">HVAC Contractors</a></li>
						<li><a title="Insurance Agents and Brokers" href="http://www.dexknows.com.localhost/local/finance/insurance/insurance_agents_and_brokers/geo/c%2Dchicago%2Dil/">Insurance Agents and Brokers</a></li>
						<li><a title="Landscape Contractors" href="http://www.dexknows.com.localhost/local/construction/contractors/landscape_contractors/geo/c%2Dchicago%2Dil/">Landscape Contractors</a></li>
						<li><a title="Plumbers" href="http://www.dexknows.com.localhost/local/construction/contractors/plumbers/geo/c%2Dchicago%2Dil/">Plumbers</a></li>
						<li><a title="Primary Care" href="http://www.dexknows.com.localhost/local/health_care/doctors/general_practitioners/geo/c%2Dchicago%2Dil/">Primary Care</a></li>
						<li><a title="Restaurants" href="http://www.dexknows.com.localhost/local/food_and_beverage/restaurants/geo/c%2Dchicago%2Dil/">Restaurants</a></li>
						<li><a title="Roofers" href="http://www.dexknows.com.localhost/local/construction/contractors/roofers/geo/c%2Dchicago%2Dil/">Roofers</a></li>
						<li><a title="Storage" href="http://www.dexknows.com.localhost/local/transportation/storage/geo/c%2Dchicago%2Dil/">Storage</a></li>
						<li><a title="Veterinarians" href="http://www.dexknows.com.localhost/local/pets/veterinarians/geo/c%2Dchicago%2Dil/">Veterinarians</a></li>
						
					</ul>				
				</div><!-- // .topCategories -->
				
				<div class="getLocal">
				
					<h5>Get Local With DexKnows</h5>
					
					<ul class="first">
					
						<li><a data-pagezone="1.mw.dwnld.ip" href="http://itunes.apple.com/us/app/dexknows/id306021114?mt=8">Dex Mobile for iPhone</a></li>
						<li><a data-pagezone="1.mw.dwnld.andr" href="https://play.google.com/store/apps/details?id=com.mportal.dexknows.ui">Dex Mobile for Android</a></li>
						<li><a data-pagezone="1.gl.nav.loc" href="http://local.dexknows.com">DexKnows Tips</a></li>
						<li><a data-pagezone="1.gl.nav.hi" href="http://www.dexknows.com.localhost/local/home_improvement/">DexKnows Home Improvement</a></li>
						<li><a data-pagezone="1.gl.nav.wed" href="http://www.dexknows.com.localhost/local/weddings/">DexKnows Weddings</a></li>
						<li><a data-pagezone="1.gl.nav.fb" href="http://www.facebook.com/dexknows">DexKnows on Facebook</a></li>
						<li><a data-pagezone="1.gl.nav.tw" href="http://twitter.com/dexknows">DexKnows on Twitter</a></li>
						<li class="secondTitle">Local Searches</li>
						<li><a data-pagezone="x.ft.nav.yp" href="http://www.dexknows.com.localhost">Yellow Pages</a></li>
						<li><a data-pagezone="x.ft.nav.wp" href="http://dexknows.whitepages.com" rel="nofollow">White Pages</a></li>
						<li><a data-pagezone="x.ft.nav.browse" href="http://www.dexknows.com.localhost/browse-directory.asp">Local Business Directory</a></li>
						
					</ul>
					
				</div><!-- // .getLocal -->
				
				<div class="disclaimer">
					
						<p>
							<span class="copy">&copy; Dex One 2012 All Rights Reserved.  Data provided by Infogroup. 
						    <a href="http://www.dexone.com/privacy-policy" data-pagezone="x.ft.nav.pp" rel="nofollow">Privacy Policy</a> and 
						    <a href="http://www.dexone.com/terms-of-use" data-pagezone="x.ft.nav.tu" rel="nofollow">Terms of Use</a></span>
						</p>
						
				</div><!-- // .disclaimer -->
				
			</div>

		</div><!-- // .superStructure -->
		
		<script type="text/javascript" src="http://scripts.dexknows.com/desktop/jquery/jquery-1.8.0.full.js"></script>

		<script type="text/javascript" src="script.js?a"></script>

	</body>
	
</html>