@CHARSET "UTF-8";

body {
	background-color: white;
	margin: 0 auto;
}

a, 
a:link, 
a:hover, 
a:active, 
a:visited {
	text-decoration: none;
}

h3 {
	font-weight: bold;
}

h3, p {
	margin: 0;
	padding: 5px 0 0 10px;
}

/* Global Page Arch */
div.globalArch {
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */
	border-bottom: solid #a7a7a7 1px;
	-moz-box-shadow: 0 4px 10px #ccc;
	-webkit-box-shadow: 0 4px 10px #ccc;
	box-shadow: 0 4px 10px #ccc;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}

div.globalArch > div.globalBar, 
div.superStructure > div.rootElement, 
div.globalFooter > div.content {
	width: 980px;
}

div.globalArch > div.globalBar {
	background: none;
	border: none;
	height: 50px;
	margin: 0 auto;
}

div.globalArch > div.globalBar > div.logo, 
div.globalArch > div.globalBar > div.globalSearch {
	float: left;
}

div.globalArch > div.globalBar > div.logo {
	margin: 13px 0;
}

div.globalArch > div.globalBar > div.globalSearch > form {
	margin: 0 0 0 10px;
}

input.globalSearch {
	height: 38px;
	padding:0;
}

input.globalSearch.inputText {
	border: #ccc solid 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	font-size:14px;
	font-weight: normal;
	margin: 5px 0 5px 5px;
}

input.globalSearch.inputText.what {
	background: #fff url("http://images.dexknows.com.localhost/desktop/images/globalSearchWhat.png") 10px no-repeat;
	padding: 0 0 0 52px;
	width: 208px;
}

input.globalSearch.inputText.where {
	background:#fff url("http://images.dexknows.com.localhost/desktop/images/globalSearchWhere.png") 10px no-repeat;
	padding: 0 0 0 60px;
	width: 200px;
}

input.globalSearch.inputButton {
	background: rgb(58,148,214); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhOTRkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjU4YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(58,148,214,1) 0%, rgba(34,88,191,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,148,214,1)), color-stop(100%,rgba(34,88,191,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a94d6', endColorstr='#2258bf',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	border: solid 1px #8d99b1 !important;
	color: #fff;
	font-weight:bold;
	font-size: 18px;
	height: 40px;
	margin: 22px 0;
	padding: 0;
	width: 118px;
	cursor: pointer;
}

input.globalSearch.inputButton:hover {
	background: rgb(38,122,182); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2N2FiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzQ5OWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(38,122,182,1) 0%, rgba(28,73,156,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,122,182,1)), color-stop(100%,rgba(28,73,156,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267ab6', endColorstr='#1c499c',GradientType=0 ); /* IE6-8 */
}

input.globalSearch.inputButton:active {
	background: rgb(34,88,191); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNThiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTk0ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,88,191,1) 0%, rgba(58,148,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,88,191,1)), color-stop(100%,rgba(58,148,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2258bf', endColorstr='#3a94d6',GradientType=0 ); /* IE6-8 */
}

div.superStructure {
	color: white;
	height: 900px;
	margin: 50px auto 0;
	width: 1280px;
}

div.superStructure > p {
	float: left;
}

div.superStructure > div.rootElement {
	box-shadow: 0 4px 10px #ccc;
	-moz-box-shadow: 0 4px 10px #ccc;
	-webkit-box-shadow: 0 4px 10px #ccc;
	height: 850px;
	margin: 0 auto;
	text-align: left;
}

div.superStructure > div.rootElement > div.leftWell, 
div.superStructure > div.rootElement > div.rightWell {
	color: white;
	float: left;
	margin: 0;
	text-align: left;
}

div.superStructure > div.rootElement > div.leftWell {
	width: 62.5%;
}

div.superStructure > div.rootElement > div.rightWell {
	width: 37.5%;
}

div.module.template {
	color: white;
	margin: 10px;
}

div.module.template > p {
	text-overflow: ellipsis;
}

div.module.template > img {
	border: none;
}

div.module.template > img.leftSide {
	float: left;
	margin: 0 10px 0 0;
}

div.module.template > img.rightSide {
	float: right;
	margin: 0 0 0 10px;
}

div.leftWell > div.module.template {
	height: 182px;
}

div.rightWell > div.module.template {
	height: 300px;
}

/* Global Page Footer */
div.globalFooter {
	background: #f5f3f1;
	border-top: 1px solid #d9d9d9;
	padding: 20px 0 0;
}

div.globalFooter > div.content {
	margin: auto;
}

div.globalFooter > div.content > div > ul > li > a {
	color: #797e7e;
	font-size: 12px;
}

div.globalFooter > div.content > div.aboutColumn, 
div.globalFooter > div.content > div.topCities, 
div.globalFooter > div.content > div.topCategories, 
div.globalFooter > div.content > div.getLocal {
	color: #797e7e;
	float: left;
	margin: auto;
	padding: 0 0 0 38px;
	width: 19%;
}

div.globalFooter > div.content > div.aboutColumn, 
div.globalFooter > div.content > div.topCities, 
div.globalFooter > div.content > div.topCategories {
	border-right: 1px solid #d9d9d9;
}

div.globalFooter > div.content > div.getLocal {
	padding-right:0;
}

div.globalFooter > div.content > div.getLocal > ul.first {
	width: 190px;
}

div.globalFooter > div.content > div.topCategories > ul.first {
	width: 150px;
}

div.globalFooter > div.content > div.topCategories > ul.second {
	width: 180px;
}

div.globalFooter > div.content > div > h5 {
	margin: 0 0 15px 0;
	color: #666;
	font-size: 20px;
}

div.globalFooter > div.content > div > ul > li > a.hpLink {
	color: #666;
	font-size: 20px;
}

div.globalFooter > div.content > div > ul > li > a.hpLink:hover {
	text-decoration: none;
}

div.globalFooter > div.content > div > ul > li.secondTitle {
	margin: 15px 0 5px 0;
	color: #666;
	font-size: 13px;
	font-weight: 800;
}

div.globalFooter > div.content > div > ul {
	float: left;
	width: 120px;
}

div.globalFooter > div.content > div > ul > li {
	margin: 5px 0 0 0;
}

div.globalFooter > div.content > div > ul > li.first {
	width: 130px;
}