<!--[if IE]><![endif]-->
<!doctype html>

<html lang="en">

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		
		<title>Business Header Module</title>
		
        <!--[if lt IE 10]>
        
        Support for IE with Chrome frame.
        
        More info on X-UA-Compatible: http://bit.ly/11EXJNb
        
        <![endif]-->

        <!--[if lt IE 10]>
        
        <meta http-equiv="x-ua-compatible" content="chrome=1" />
        
        <![endif]-->
        
		<!-- This style block is used just for the module template. -->
		<!-- It is not meant to be used in a production environment. -->
		
		<style type="text/css">
		
			body > div.leftRailPlaceholder {
				border: solid black 1px;
				margin: auto;
				width: 384px;
			}
			
		</style>
		
		<!--[if lt IE 9]>
		<link href="style-ie.css" type="text/css" rel="stylesheet"></link>
		<![endif]-->
		
		<link href="style.css" type="text/css" rel="stylesheet"></link>
		
	</head>

	<body>
	
		<div class="leftRailPlaceholder">
			
            <div class="reviews">
            
                
            
            </div>
            	
		</div><!-- // .leftRailPlaceholder -->

	</body>
	
</html>