@CHARSET "UTF-8";

h2.getPhone {
	/* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FAEB7B 0%, #fed128 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FAEB7B 0%, #fed128 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FAEB7B 0%, #fed128 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAEB7B),
        color-stop(1, #fed128) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FAEB7B 0%, #fed128 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FAEB7B 0%, #fed128 100%);
}

h2.getReservation {
	/* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #FAA642 0%, #E07409 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FAA642 0%, #E07409 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #FAA642 0%, #E07409 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAA642),
        color-stop(1, #E07409) );
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FAA642 0%, #E07409 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FAA642 0%, #E07409 100%);
}

#main {
    padding: 75px 0;
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    -webkit-box-shadow: 0 4px 8px #aaa;
    -moz-box-shadow: 0 4px 8px #aaa;
    box-shadow: 0 4px 8px #aaa;
}

#main article h1 {
    font-size: 28px;
    margin: 1px;
    display: block;
}

#main aside.map {
    padding: 0px 5% 10px;
}

#main section.photoPreviews {
    float: left;
    padding: 50px 2px 12px 12px;
    width: 47%;
}

footer #footer-container {
    padding: 20px 0;
}

footer a {
   	color: #333333;
    display: block;
    float: right;
    font-size: 11px;
    padding: 7px;
    text-align: right;
    text-decoration: none;
    margin-top: 10px;
}

a.dexlogo {
    background: url("../images/landing_sprite.png") no-repeat scroll 0 -281px transparent;
    display: block;
    height: 25px;
    overflow: hidden;
    padding: 0;
    width: 156px;
}

/* ====================
    WIDE: CSS3 Effects
   ==================== */
#header-container,
#main > aside.map {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
}

/* ============
    WIDE: Main
   ============ */
#main > article {
    float: left;
    width: 50%;
    padding: 15px;
}

#main > aside {
    float: right;
    width: 35%;
}

#main > article > section.photoPreviews {
    display: block;
    float: right;
    width: 39%;
}

section.reviewAnchor,
section.summary {
    float: left;
    clear: left;
}

section.hoursBlock,
section.mapBlock {
    padding: 12px;
    width: 47%;
}

section.hoursBlock {
    float: left;
}

section#fullMap { 
	clear: left;
    padding: 1px 0 0 12px;
    width: 644px;
}

section#reviews, 
section#coupons, 
section.fullGallery {
    width: 98%;
    clear: both;
    padding: 1%;
}

.videoGallery,.photoGallery {
    width: 48%;
    float: left;
    padding: 1%;
}

#reviews h2 {
    display: block;
    float: left;
}

#reviews h3 {
    float: left;
    padding: 1%;
    width: 100%;
    margin: 0;
}

#reviews a.readAll {
    float: left;
    display: block;
    padding: 14px;
}

#reviews a.one_star,
#reviews a.two_star,
#reviews a.three_star,
#reviews a.four_star,
#reviews a.five_star {
    font-size: 13px;
}

#reviews section,#coupons div {
    float: left;
    padding: 1%;
    width: 48%;
}

#coupons div {
    display: block;
    border: 3px dashed #F8951E;
    border-radius: 12px 12px 12px 12px;
    background-color: #FEF9F3;
    width: 44%;
    margin: 12px;
}

#coupons h4 {
    font: 18px/20px Helvetica, Arial, sans-serif;
    margin: 0;
}

#coupons p {
    font: 11px/14px sans-serif;
    color: #999;
}

#reviews > section > h3 > a {
    display: block;
    float: left;
    padding: 1px 8px 0 105px;
    width: 100%;
    font-size: 12px;
    color: #333333;
    text-decoration: none;
}

a.one_star {
    background: url("../images/landing_sprite.png") no-repeat 0 -399px transparent;
}

a.two_star {
    background: url("../images/landing_sprite.png") no-repeat 0 -379px transparent;
}

a.three_star {
    background: url("../images/landing_sprite.png") no-repeat 0 -355px transparent;
}

a.four_star {
    background: url("../images/landing_sprite.png") no-repeat 0 -335px transparent;
}

a.five_star {
    background: url("../images/landing_sprite.png") no-repeat 0 -313px transparent;
}

a.print {
    float: right;
    display: block;
    padding: 3px;
}

a.share {
    float: right;
    display: block;
    padding: 3px;
}
a.share:after {
    background: url("../images/landing_sprite.png") no-repeat scroll 0 -171px transparent;
    content: "";
    display: block;
    float: right;
    height: 20px;
    width: 22px;
}
#coupons div h5 {
    background: url("../images/landing_sprite.png") no-repeat scroll -1px -254px
        transparent;
    color: #F7941E;
    display: inline-block;
    font: bold 13px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: -22px;
    overflow: visible;
    padding: 2px 12px 2px 75px;
}

h5.couponTag {
    background: url("../images/landing_sprite.png") no-repeat scroll -1px -254px
        transparent;
    border-color: #F7941E #F7941E #F7941E -moz-use-text-color;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: dotted dotted dotted none;
    border-width: 1px 1px 1px 0;
    color: #F7941E;
    display: inline-block;
    font: bold 13px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: -22px;
    overflow: visible;
    padding: 2px 12px 2px 75px;
}
/* firefox rounded corner alternative */
@
-moz-document url-prefix () {h5 .couponTag { border-top:1pxsolid#f7941e;
    border-right: 1px solid #f7941e;
    border-bottom: 1px solid #f7941e;
    border-left: none;
    -moz-border-radius: 0px 5px 5px 6px;
}

#coupons div {
    border: 3px solid #F8951E;
}

}

/* ----- get phone number button ---*/
h2.getPhone {
    background-color: #FBEA75;
    border-bottom: 4px solid #EDB114;
    border-radius: 5px 5px 5px 6px;
    float: left;
    margin: 16px 20px 8px 0px;
    padding: 8px 12px;
}

h2.getPhone a {
    background: url("../images/landing_sprite.png") no-repeat scroll 0 -99px
        transparent;
    color: #000;
    display: block;
    font: bold 16px Arial, sans-serif;
    height: 23px;
    padding-left: 25px;
    text-decoration: none;
}

/*---- get reservation button -----*/
h2.getReservation a {
    background: url("../images/landing_sprite.png") no-repeat scroll 0 -74px transparent;
    color: #000;
    display: block;
    font: bold 16px Arial, sans-serif;
    height: 23px;
    padding-left: 25px;
    text-decoration: none;
}

h2.getReservation {
    float: left;
    padding: 8px 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 4px solid #ce6002;
    background-color: #F49A34;
    margin: 16px 20px 8px 0px;
    font: bold 16px Arial, sans-serif;
}

#header-container {
    background: url("../images/nav-bg.png") repeat scroll 0 0 #FAEA79;
    border-bottom: 5px solid #EDB114;
    box-shadow: 0 4px 10px #CCCCCC;
    float: left;
    height: 51px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
}

nav {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    width: 966px;
}

nav ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    border-right: 1px dashed #EDB114;
    float: left;
    font: bold 16px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 17px 10px;
}

nav ul li a {
    color: #222222;
    line-height: 19px;
}

nav ul li a:hover {
    color: #CD8338;
}

nav ul li span.active {
    background: url("../images/landing_sprite.png") no-repeat scroll -67% -121px
        transparent;
    border: medium none;
    display: block;
    height: 17px;
}

nav ul li.actionNav {
    border: none;
    float: left;
    font-weight: normal;
}

nav ul li.actionNav:last-child {
    border-right: 1px dashed #EDB114;
}

/* ------ General Company Info -------- */
.street-address {
    font: normal 14px Arial, sans-serif;
    line-height: 24px;
    margin: 5px 0 5px 0;
}

.summary p {
    font: normal 12px/18px "Helvitica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
}

.businessDescription p {
    display: block;
    clear: both;
}

.adr h4 {
    font: normal 14px/22px Arial, sans-serif;
    margin: 1px;
}

/* -------- aside -----*/
aside.map a,aside.map p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 0px 5px;
    text-align: center;
}

#main aside.map {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 6px solid #F1F1F1;
    padding: 8px;
    width: 37%;
    margin-right: 20px;
}

/* --------- hours --------------*/
#mon.currentDay,#tues.currentDay,#wed.currentDay,#thurs.currentDay,#fri.currentDay,#sat.currentDay,#sun.currentDay
    {
    border: 1px solid #FAEC7F;
}

.operationHours {
    font-size: 12px;
    margin: 15px 0;
}

.operationHours td {
    border-left: 1px solid #CCCCCC;
    color: #393939;
    padding: 0 6px;
    width: 91px;
}

.operationHours td#mon {
    border-left: medium none;
    padding-left: 0;
}

.operationHours span {
    display: block;
}

.operationHours .day {
    font-weight: 800;
    text-transform: uppercase;
}

.operationHours .currentDay {
    background: none repeat scroll 0 0 #FFFFCC;
}

/* right navigation css sprites */
nav ul.actionNav {
    float: right;
}

nav ul.actionNav li {
    padding: 16px 11px 14px;
}

nav ul.social {
    border-right: 1px dashed #EDB114;
    padding-bottom: 12px;
}

nav ul.social li {
    border: 0;
    padding: 18px 0px 0 7px;
}

nav ul.actionNav li a {
    margin: 0;
    background: url("../images/landing_sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 25px;
    padding: 0 0 0 30px;
    color: #000000;
    font-weight: normal;
    font-size: 12px;
    text-decoration: underline;
}

nav ul.actionNav li a.trNavPhone {
    background-image: url("../images/landing_sprite.png");
    background-position: 2px -24px;
}

nav ul.actionNav li a.trNavEmail {
    background-image: url("../images/landing_sprite.png");
    background-position: -1px -2px;
    height: 22px;
}

nav ul.actionNav li a.trNavSend {
    background-image: url("../images/landing_sprite.png");
    background-position: -1px -50px;
    height: 22px;
}

nav ul.actionNav li a.fbIco {
    background-image: url("../images/landing_sprite.png");
    background-position: -1px -195px;
    height: 22px;
}

nav ul.actionNav li a.twtrIco {
    background-image: url("../images/landing_sprite.png");
    background-position: -1px -145px;
    height: 22px;
}

a.backToTop {
    background-color: #EDB113;
    background-image: url("../images/landing_sprite.png");
    background-position: 80px 210px;
    color: white;
    display: block;
    font: bold 12px/4px "bold Arial", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 12px;
    line-height: 4px;
    padding: 11px 20px 4px 5px;
    position: relative;
    right: -90%;
    text-decoration: none;
    top: 16px;
    width: 85px;
    border-radius: 0px 0px 5px 5px;
}

/* --------- Photo Preview ----------*/
/* --------- Photo Gallery ----------*/
/* --------- Video Gallery ----------*/
section.photoPreviews>h2,section.photoGallery>h2,section.videoGallery>h2 {
    display: inline;
}

section.photoPreviews>a,section.photoGallery>a,section.videoGallery>a {
    padding: 15px;
}

section.photoPreviews>ul,section.photoGallery>ul,section.videoGallery>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

section.photoPreviews>ul>li,section.photoGallery>ul>li {
    float: left;
}

section.photoPreviews>ul>li {
    height: 66px;
    margin: 6px;
    width: 66px;
}

section.photoGallery>ul>li {
    height: 80px;
    margin: 5px;
    width: 80px;
}

section.photoPreviews>ul>li>a>img,section.photoGallery>ul>li>a>img,section.videoGallery>ul>li>a>img
    {
    position: absolute;
}

section.photoPreviews>ul>li>a>img {
    clip: rect(0 66px 66px 0);
}

section.photoGallery>ul>li>a>img {
    clip: rect(0 80px 80px 0);
}

.mapWrapper {
	border: 1px solid #999999;
    display: block;
    float: left;
    height: 370px;
    margin: 0;
    width: 642px;
}
.addtlLinks { 
    background: none repeat scroll 0 0 #F3F3F3;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    display: block;
    float: right;
    width: 176px;
}

.addtlLinks a {
	font: 13px/20px sans-serif;
    padding:5px 10px 9px 10px;
}

.addtlLinks a.currentMap {
	font-weight: bold;
}

/* Get Directions */

#getDirections {
	float: right;
    text-align: left;
    width: 280px;
}
#getDirections h2 {
	font: bold 18px/24px sans-serif;
    margin: 75px 0 0;
}
#getDirections p {
	color: #999999;
	display: block;
	padding: 0;
	margin: 0;
	font: 12px/18px sans-serif;
	
}
#getDirections span {
	font-weight: bold;
	color: #333333;
}
#getDirections form {
	background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #999999;
    margin: 5px 5px 0 0;
    padding: 13px;
    width: 230px;
}

#getDirections input, #getDirections select, #getDirections img.mapSubmit { display: block; margin: 8px; }