@CHARSET "UTF-8";

body {
	background-color: white;
	font-family: Arial, Tahoma, Verdana, 'sans-serif';
	font-size: 12px;
	margin: 65px auto 0 auto;
}

a, 
a:link, 
a:hover, 
a:active, 
a:visited {
	color: #1b75bc;
	text-decoration: none;
}

h1, 
h3 {
	font-weight: bold;
}

h1, 
h3, 
p, 
nav, 
img.businessRating {
	margin: 0;
	padding: 0;
}

/* Global Page Arch */
div.globalArch {
	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */
	border-bottom: solid #a7a7a7 1px;
	-moz-box-shadow: 0 4px 10px #ccc;
	-webkit-box-shadow: 0 4px 10px #ccc;
	box-shadow: 0 4px 10px #ccc;
	height: 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}

div.globalArch > div.globalBar, 
div.superStructure, 
footer {
    margin: auto;
    width: 980px;
}

div.globalArch > div.globalBar {
	background: none;
	border: none;
	height: 50px;
	margin: 0 auto;
}

div.globalArch > div.globalBar > div.logo, 
div.globalArch > div.globalBar > div.globalSearch {
	float: left;
}

div.globalArch > div.globalBar > div.logo {
	margin: 13px 0;
}

div.globalArch > div.globalBar > div.globalSearch > form {
	margin: 0 0 0 10px;
}

input.globalSearch {
	height: 38px;
	padding:0;
}

input.globalSearch.inputText {
	border: #ccc solid 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #000;
	font-size:14px;
	font-weight: normal;
	margin: 5px 0 5px 5px;
}

input.globalSearch.inputText.what {
	background: #fff url("http://images.dexknows.com.localhost/desktop/images/globalSearchWhat.png") 10px no-repeat;
	padding: 0 0 0 52px;
	width: 208px;
}

input.globalSearch.inputText.where {
	background:#fff url("http://images.dexknows.com.localhost/desktop/images/globalSearchWhere.png") 10px no-repeat;
	padding: 0 0 0 60px;
	width: 200px;
}

input.globalSearch.inputButton {
	background: rgb(58,148,214); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhOTRkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjU4YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(58,148,214,1) 0%, rgba(34,88,191,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,148,214,1)), color-stop(100%,rgba(34,88,191,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(58,148,214,1) 0%,rgba(34,88,191,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a94d6', endColorstr='#2258bf',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	border: solid 1px #8d99b1 !important;
	color: #fff;
	font-weight:bold;
	font-size: 18px;
	height: 40px;
	margin: 22px 0;
	padding: 0;
	width: 118px;
	cursor: pointer;
}

input.globalSearch.inputButton:hover {
	background: rgb(38,122,182); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2N2FiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzQ5OWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(38,122,182,1) 0%, rgba(28,73,156,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,122,182,1)), color-stop(100%,rgba(28,73,156,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(38,122,182,1) 0%,rgba(28,73,156,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267ab6', endColorstr='#1c499c',GradientType=0 ); /* IE6-8 */
}

input.globalSearch.inputButton:active {
	background: rgb(34,88,191); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNThiZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTk0ZDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(34,88,191,1) 0%, rgba(58,148,214,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,88,191,1)), color-stop(100%,rgba(58,148,214,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(34,88,191,1) 0%,rgba(58,148,214,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2258bf', endColorstr='#3a94d6',GradientType=0 ); /* IE6-8 */
}

div.superStructure {
	box-shadow: 0 4px 10px #ccc;
	-moz-box-shadow: 0 4px 10px #ccc;
	-webkit-box-shadow: 0 4px 10px #ccc;
	margin: 0 auto 10px auto;
}

div.superStructure > article, 
div.superStructure > aside {
    float: left;
}

div.superStructure > article.leftWell {
    margin: 0 10px 0 0;
	width: 61%;
}

div.superStructure > article > section {
    clear: both;
    width: 100%;    
}
    

div.superStructure > aside.rightWell {
    width: 37%;
}

div.module.template {
	margin: 10px;
}

/* Global Page Footer */
div.footerContainer {
    background-color: #f5f3f1;
    border-top: 1px solid #d9d9d9;
    clear: both;
    display: block;
    width: 100%;
}

footer {
    margin: auto;
}

footer > section {
    display: inline-table;
}

footer > section.column {
    border-right: 1px solid #d9d9d9;
    margin: 10px;
    width: 22%;
}

footer > section.column.last {
    border-right: none;
}

footer > section.legal {
    text-align: center;
    width: 100%;
}

footer > section.legal > p.copy {
    color: #7f7f7f;
}

footer > section.legal > p.copy > a {
    color: #06C;
    font-size: 12px;
    font-weight: bold;
}

footer > section > h5 {
    font-size: 20px;
    font-weight: normal;
    margin: 0 auto 10px;
}

footer > section > h5 > a {
    color: #666;
}

footer > section > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer > section > ul > li {
    font-size: 12px;
    margin-top: 5px;
}

footer > section > ul > li.secondTitle {
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin: 15px 0 5px 0;
}

footer > section > ul > li > a {
    color: #797e7e;
}

/***********************************************************
 * Dialogue user interface module
 **********************************************************/

div.blackOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1002;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
div.litContent {
	background: transparent;
	position: absolute;
	margin-left:-330px;
	top: 50px;
	z-index:1003;
	width:675px;
	left: 50%;
}

div.dialogueRoot {
	background: #fff;
	border: #ccc 1px solid;
	font-family: helvetica, verdana, tahoma, arial, "sans-serif";
	margin: auto;
	width: 675px;
}

div.closeButton {
	background: url("../images/closeButton.png") no-repeat;
	cursor: pointer;
	height:32px;
	position:absolute;
	right:-16px;
	top:-16px;
	width:32px;
}

div.dialogueRoot > div.dialogueHeading {
	background-color: #f9f9f9;
	border-bottom: solid 1px #d6d6d6;
	height: 47px;
}

div.dialogueRoot > div.dialogueHeading > div.dialogueTitle {
	color: #666;
	font-size: 24px;
	font-weight: bold;
	margin: 11px 25px;
}

span.notBold {
	font-weight: normal;
}

div.corneredTop {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

div.corneredBottom {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

div.dialogueRoot > div.ruleCaption {
    text-align: center;
}

div.dialogueRoot > div.ruleCaption > div > p.callUs, 
div.dialogueRoot > div.ruleCaption > div > p.tagLine {
    font-weight: bold;
}

div.dialogueRoot > div.ruleCaption > div > p.callUs {
    font-size: 24px;
    line-height: 85px;
}

div.dialogueRoot > div.ruleCaption > div > p.tagLine {
    font-size: 18px;
}

div.dialogueRoot > div.ruleCaption > div.breakout {
    margin-top: 25px;
}

div.dialogueRoot > div.ruleCaption > div.breakout > img {
    margin-left: 20px;
}

div.dialogueRoot > div.ruleCaption > div.breakout > ul {
    float: right;
    width: 45%;
    padding-left: 0px;
}

div.dialogueRoot > div.ruleCaption > div.breakout > ul > li {
    font-size: 14px;
    margin: 20px auto;
    text-align: left;
}