<!doctype html>
<html>

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		
		<title>"Photo Gallery" Module</title>

        <link href="http://images.dexknows.com/desktop/styles/dexcore-full.css?ver=2012-12-26-10" type="text/css" rel="stylesheet"></link>
 
		<!-- This style block is used just for the module template. -->
		<!-- It is not meant to be used in a production environment. -->
		
		<style type="text/css">
        
            body {
                margin: 50px auto; 
            }
        
            body > div.leftRailPlaceholder {
                border: solid black 1px;
                margin: auto;
                width: 615px;
            }
			
		</style>
		
		<link href="css/style.css" type="text/css" rel="stylesheet"></link>
		
        <!--[if lt IE 9]>
        <link href="css/style-ie.css" type="text/css" rel="stylesheet"></link>
        <![endif]-->
        
	</head>

	<body>
	
		<div class="leftRailPlaceholder">
            
            <div class="photoGallery">
            
                <h2>Photos (<span class="count">8</span>)</h2>

                <div class="viewFinder">
                
                    <div class="sharingMenu"></div>
                
                    <div class="controls">
                    
                        <div class="linear previous">
                        
                            <a class="previous" href="#" title="Retreat to previous">&lsaquo;</a>
                        
                        </div><!-- // .linear .previous -->
                    
                        <div class="linear next">
                        
                            <a class="next" href="#" title="Advance to next">&rsaquo;</a>
                            
                        </div><!-- // .linear .next -->
                        
                    </div><!-- // .controls -->
                    
                    <div class="display">
                
                        <a class="selected" href="#">
                        
                            <img src="images/fpo100.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo101.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo102.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo103.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo104.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo105.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo106.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo107.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo108.jpg" alt="FPO" /></a>
                            
                    </div><!-- // .display -->
                    
                    <div class="caption">
                    
                        Yellog Pages Ads - 2 of 18
                        
                    </div><!-- // .caption -->
                    
                </div><!-- // .viewFinder -->
                
                <div class="filmStrip"></div>
        
            </div><!-- // .photoGallery -->
	
		</div><!-- // .leftRailPlaceholder -->
        
        <script type="text/javascript" src="js/lib/jquery.js"></script>
        
        <script type="text/javascript" src="js/app/script.js"></script>
        
        <script type="text/javascript">
            /**
             * Instantiate the gallery object.
             * @requires jQuery
             * @requires DEXO
             */
            /*global DEXO */
            /*global $ */
            $(document).ready(function () {
    
                var myGallery = new DEXO.ui.gallery();
                
                myGallery.create();
                
            });
            
        </script>

	</body>
	
</html>