<!doctype html>

<html lang="en">

    <head>

        <meta charset="utf-8" />

        <title>"Photo Gallery" Module</title>

        <!--[if IE]><![endif]-->

        <!--[if lt IE 10]>
        
        <meta http-equiv="x-ua-compatible" content="chrome=1" />
        
        <![endif]-->
        
        <!-- This style block is used just for the module template. -->
        
        <style type="text/css">
        
            .genericTemplatePage {
                margin: 50px 0 0 0; 
                width: 100%;
            }
        
            .genericTemplatePage > .leftRailPlaceholder {
                border: solid black 1px;
                margin: auto;
                width: 660px;
            }
            
        </style>
        
        <link rel="stylesheet" href="css/site.css" />
                    
        <link rel="stylesheet" href="css/style.css" />
        
        <!--[if lt IE 9]>
        
        <script type="text/javascript" src="js/lib/html5shiv.js"></script>
        
        <![endif]-->
        
        <link rel="icon" type="image/x-icon" href="favicon.ico" />

    </head>

	<body class="genericTemplatePage">
	
		<div class="leftRailPlaceholder">
            
            <div class="photoGallery">
            
                <h2 class="module">Photos (<span class="count">8</span>)</h2>

                <div class="viewfinder">
                
                    <div class="sharingMenu"></div><!-- // .sharingMenu -->
                
                    <div class="controls">
                    
                        <div class="linear previous">
                        
                            <a class="previous" href="#" title="Retreat to previous">&lsaquo;</a>
                        
                        </div><!-- // .linear .previous -->
                    
                        <div class="linear next">
                        
                            <a class="next" href="#" title="Advance to next">&rsaquo;</a>
                            
                        </div><!-- // .linear .next -->
                        
                    </div><!-- // .controls -->
                    
                    <div class="display">
                
                        <a class="selected" href="#">
                        
                            <img src="images/fpo100.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo101.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo102.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo103.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo104.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo105.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo106.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo107.jpg" alt="FPO" /></a>
                        
                        <a href="#">
                        
                            <img src="images/fpo108.jpg" alt="FPO" /></a>
                            
                    </div><!-- // .display -->
                    
                    <div class="caption">
                    
                        Yellog Pages Ads - 2 of 18
                        
                    </div><!-- // .caption -->
                    
                    <div class="filmstrip">
                    
                        <ul class="viewport">
                            
                            <li class="placeholder">
                            
                                <img class="selected" src="images/small/fpo101.jpg" alt="FPO" />
                                
                            </li>
                            
                            <li class="placeholder">
                            
                                <img src="images/small/fpo102.jpg" alt="FPO" />
                                
                            </li>
                        
                            <li class="placeholder">
                                
                                <img src="images/small/fpo103.jpg" alt="FPO" />
                                
                            </li>
                        
                            <li class="placeholder">
                            
                                <img src="images/small/fpo104.jpg" alt="FPO" />
                                
                            </li>
                        
                            <li class="placeholder">
                            
                                <img src="images/small/fpo105.jpg" alt="FPO" />
                                
                            </li>
                            
                            <li class="placeholder">
                            
                                <img src="images/small/fpo106.jpg" alt="FPO" />
                                
                            </li>
                            
                            <li class="placeholder">
                            
                                <img src="images/small/fpo107.jpg" alt="FPO" />
                                
                            </li>
                        
                            <li class="placeholder">
                            
                                <img src="images/small/fpo108.jpg" alt="FPO" />
                                
                            </li>
                        
                        </ul><!-- // .viewport -->
                    
                    </div><!-- // .filmStrip -->
                    
                </div><!-- // .viewfinder -->
        
            </div><!-- // .photoGallery -->
	
		</div><!-- // .leftRailPlaceholder -->
        
        <!--
        This sets the baseUrl to the "scripts" directory, and
        loads a script that will have a module ID of 'app'
        -->
        
        <script data-main="js/app" src="js/lib/require-jquery.js" type="text/javascript"></script>
        
	</body>
	
</html>