<!doctype html>
<html>

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		
		<title>Business Header Module</title>
		
		<!-- This style block is used just for the module template. -->
		<!-- It is not meant to be used in a production environment. -->
		
		<style type="text/css">
		
			body > div.leftRailPlaceholder {
				border: solid black 1px;
				margin: auto;
				width: 660px;
			}
			
		</style>
		
		<!--[if lt IE 9]>
		<link href="style-ie.css" type="text/css" rel="stylesheet"></link>
		<![endif]-->
		
		<link href="style.css" type="text/css" rel="stylesheet"></link>
		
	</head>

	<body>
	
		<div class="leftRailPlaceholder">
				
			<div class="businessProfile vcard">
			
				<header>
				
					<!-- microformat:org -->
					<h1 class="businessName org">Pequod's Pizzeria</h1>
					
					<p class="businessSlogan">Try our famous carmelized crust!</p>
				
					<p class="businessWebsite">
					
						<!-- microformat:url -->
						<!-- microformat:fn -->
						<!-- microformat:n -->
						<a class="url fn n" href="http://www.pequodspizza.com/">
						
							<!-- microformat:additional-name -->
							<span class="additional-name">Pequod's Pizzeria</span>
							
						</a>
						
					</p>
		
					<!-- microformat:tel -->
					<p class="businessTelephone tel">(773) 536-9901</p>
		
					<!-- microfomrmat: adr -->			
					<h3 class="businessAddress adr">
					
						<!-- microformat:street-address -->
						<span class="street street-address">2207 N Clybourn Ave.</span><br />
						
						<!-- microformat:locality -->
						<span class="locality">Chicago</span>, 
						
						<!-- microformat:region -->
						<span class="region">IL</span>
						
						<!-- microformat:postal-code -->
						<span class="postal-code">60614</span>
					
					</h3>
					
					<img class="businessRating" width="92" height="18" alt="Business Rating" src="http://images.dexknows.com/desktop/images/img_1x1_transparency.gif" />
				
					<nav>
					
					    <ul class="profileTools">
						    
							<!-- Visit Website -->
					    	<li class="website first">
			   					<a href="http://www.pequodspizza.com/" target="_blank" rel="nofollow">Visit Website</a>
					    	</li>
					
							<!-- Follow Us -->
					    	<li class="follow">
					    		<span class="annotation">Follow Us:</span>
					   	        <a href="#" target="_blank" rel="nofollow" class="facebookLink">Facebook</a>
					   	        <a href="#" target="_blank" rel="nofollow" class="twitterLink">Twitter</a>
					    	</li>
					
							<!-- Email -->
							<li class="email">
								<a rel="nofollow" href="#">Email</a>
							</li>
					
							<!-- View Menu -->
							<li class="menu">
					       		<a onclick="setSrcPgt('7'); return gtc(false, '7.topbar.menu.nav.1', this.href)" href="/business_profiles/pequod_s_pizzeria-b169602/menu">View Menu</a>
					       	</li>
					
							<!-- Send to Phone -->
							<li class="smsContact">
								<a onclick="resetSend2PhoneForm(); return hs.htmlExpand(this, { contentId: 'Phone-html' } )" rel="nofollow" href="#">Send to Phone</a>
							</li>
					
							<!-- Reserve Online -->
							<li class="reserve last">
								<a onclick="return gt(true, '14', 'pienhanced', '7.mw.act.opntbl.1', '751942', '', '', 'c-burnham-il', '751942', '1', '0', '0', this.href)" rel="nofollow" href="#">Reserve Online</a>
							</li>
					    </ul>
			
					</nav>
			
				</header>
			    
			</div><!-- // .businessProfile -->
	
		</div><!-- // .leftRailPlaceholder -->

	</body>
	
</html>